@* This razor file handles the redirects for particular errors *@
@inject NavigationManager Navigation
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @if (context.User.Identity?.IsAuthenticated != true)
                    {
                        <RedirectToLogin />
                    }
                    else
                    {
                        //<p role="alert">You are not authorized to access this resource.</p>
                        <RedirectToUnauthorized />
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                @*<p role="alert">Sorry, there's nothing at this address.</p>*@
                <RedirectTo404 />
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
