@*ASPNetr-yanWorks*@
@inject HttpClient _client

<EditForm Model="@review" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <fieldset disabled="@Disabled">
        <div class="form-group">
            <label>Title of Review: </label>
            <div>
                <InputText @bind-Value="@review.ReviewTitle" class="form-control" />
                <ValidationMessage For="@(() => review.ReviewTitle)" />
            </div>
        </div>
        <div class="form-group">
            <label>Rating: </label>
            <div>
                <InputNumber @bind-Value="@review.ReviewRating" class="form-control" />
                <ValidationMessage For="@(() => review.ReviewRating)" />
            </div>
        </div>
        <div class="form-group">
            <label>Describe your Experience: </label>
            <div>
                @*<InputText @bind-Value="@review.ReviewDescription" class="form-control" />*@
                <textarea @bind="@review.ReviewDescription" class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
                <ValidationMessage For="@(() => review.ReviewDescription)" />
            </div>
        </div>
        @if (review.Id > 0)
        {
            <div class="form-group">
                <label>Date of Review: </label>
                <div>
                    <InputDate @bind-Value="@review.ReviewDate" class="form-control" />
                    <ValidationMessage For="@(() => review.ReviewDate)" />
                </div>
            </div>
        }
        <div class="form-group">
            <label>Reviewer: </label>
            <div>
                <InputSelect @bind-Value="@review.AppUserID" class="form-control">
                    <option value="">-- Select User --</option>
                    @if (AppUsers != null)
                    {
                        foreach (var appuser in AppUsers)
                        {
                            <option value="@appuser.Id">ID: @appuser.Id ( @appuser.UserName )</option>
                        }
                    }
                </InputSelect>
                <ValidationMessage For="@(() => review.AppUserID)" />
            </div>
        </div>
        <div class="form-group">
            <label>Swap Transaction: </label>
            <div>
                <InputSelect @bind-Value="review.SwapTransactionID" class="form-control">
                    <option value="">-- Select Swap Transaction --</option>
                    @if (SwapTransactions != null)
                    {
                        foreach (var swaptransaction in SwapTransactions)
                        {
                            <option value="@swaptransaction.Id">Swap Transaction: @swaptransaction.Id</option>
                        }
                    }
                </InputSelect>
                <ValidationMessage For="@(() => review.SwapTransactionID)" />
            </div>
        </div>
        <div class="form-group">
            <label>Sale Transaction: </label>
            <div>
                <InputSelect @bind-Value="review.SaleTransactionID" class="form-control">
                    <option value="">-- Select Sale Transaction --</option>
                    @if (SaleTransactions != null)
                    {
                        foreach (var saletransaction in SaleTransactions)
                        {
                            <option value="@saletransaction.Id">Sale Transaction: @saletransaction.Id</option>
                        }
                    }
                </InputSelect>
                <ValidationMessage For="@(() => review.SaleTransactionID)" />
            </div>
        </div>
    </fieldset>
    <br />

    @if (!Disabled)
    {
        <button type="submit" class="btn btn-success btn-block">
            @ButtonText
        </button>
    }
</EditForm>

@code {
    [Parameter] public bool Disabled { get; set; } = false;
    [Parameter] public Review ? review { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }

    private IList<AppUser>? AppUsers;
    private IList<Staff>? Staffs;
    private IList<SwapTransaction>? SwapTransactions;
    private IList<SaleTransaction>? SaleTransactions;

    protected async override Task OnInitializedAsync()
    {
        AppUsers = await _client.GetFromJsonAsync<List<AppUser>>($"{Endpoints.AppUsersEndpoint}");
        Staffs = await _client.GetFromJsonAsync<List<Staff>>($"{Endpoints.StaffsEndpoint}");
        SwapTransactions = await _client.GetFromJsonAsync<List<SwapTransaction>>($"{Endpoints.SwapTransactionsEndpoint}");
        SaleTransactions = await _client.GetFromJsonAsync<List<SaleTransaction>>($"{Endpoints.SaleTransactionsEndpoint}");
    }
}
