@*ASPNetr-yanWorks*@
@page "/reviews/"
@implements IDisposable
@inject IJSRuntime js
@inject HttpClient _client
@inject NavigationManager _navManager
@inject HttpInterceptorService _interceptor
@attribute [Authorize]

<!-- Page Title -->
<PageTitle>Reviews</PageTitle>

<!-- Topbar with the title and a button to create a new review -->
<div class="review-topbar">
    <h2 class="review-title">Reviews</h2>
    <a href="/reviews/create" class="btn btn-secondary">
        <span class="oi oi-plus" style="margin-top: 5px;"></span>
    </a>
</div>

<div style="margin-top: 10px;">
    @if (Reviews == null)
    {
        <!-- Displays a loading message if reviews are still loading -->
        <div class="alert alert-info">Loading Reviews...</div>
    }
    else
    {
        <!-- Displays each review in a box -->
        @foreach (var review in Reviews)
        {
            <div class="review-box">
                <!-- Inner container for review details -->
                <div class="review-box-innercontainer">
                    @if (review.SwapTransaction != null)
                    {
                        <h4 class="review-box-title">Swap Transaction: @review.SwapTransaction.Id</h4>
                    }
                    else if (review.SaleTransaction != null)
                    {
                        <h4 class="review-box-title">Sale Transaction: @review.SaleTransaction.Id</h4>
                    }
                    else
                    {
                        <h4 class="review-box-title">TRANSACTION MISSING</h4>
                    }
                    <p class="review-box-details">@review.AppUser.UserName ------- @review.ReviewDate.Day / @review.ReviewDate.Month / @review.ReviewDate.Year</p>
                    <p class="review-box-content">@review.ReviewDescription</p>
                </div>

                <!-- Controls for each review box -->
                <div class="review-box-control-container">
                    <div class="review-box-detail-button">
                        <a href="/reviews/view/@review.Id" class="btn btn-primary">
                            More Details
                        </a>
                    </div>

                    <!-- This prevents user-role level users from editing reviews -->
                    <AuthorizeView Roles="Administrator">
                        <div class="review-box-control-bottom">
                            <a href="/reviews/edit/@review.Id" class="btn btn-warning" style="width:100%; margin-right:5px;">
                                <span class="oi oi-pencil"></span>
                            </a>
                            <button class="btn btn-danger" style="width:100%; margin-left:5px;" @onclick="@(()=>Delete(review.Id))">
                                <span class="oi oi-delete"></span>
                            </button>
                        </div>
                    </AuthorizeView>
                </div>
            </div>
        }
    }
</div>

@code {
    // List to store reviews fetched from the server
    private List<Review>? Reviews;

    // This runs asynchronously when the component/page is initialized
    protected async override Task OnInitializedAsync()
    {
        // Initialises the interceptor module
        // This monitors HTTP Events for Global Error Handling
        _interceptor.MonitorEvent();
        
        // Fetch data from Server Endpoints using HttpClient
        Reviews = await _client.GetFromJsonAsync<List<Review>>($"{Endpoints.ReviewsEndpoint}");
    }

    // Method to handle review deletion with confirmation dialog
    async Task Delete(int reviewsID)
    {
        if (Reviews != null)
        {
            var review = Reviews.First(q => q.Id == reviewsID);
            var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete review created by user {review.AppUserID}?");
            if (confirm)
            {
                // Deletes the review and refreshes the list
                await _client.DeleteAsync($"{Endpoints.ReviewsEndpoint}/{reviewsID}");
                await OnInitializedAsync();
            }
        }
    }

    // Disposes of resources when the component is disposed
    public void Dispose()
    {
        // This disposes of global error handling events
        _interceptor.DisposeEvent();
    }
}
