@page "/swaptransactions/"
@inject HttpClient _client
@inject HttpInterceptorService _interceptor
@implements IDisposable
@inject IJSRuntime js
@attribute [Authorize]

<PageTitle>Swap Transactions</PageTitle>

<div class="swaptransaction-topbar">
    <div style="flex:1">
        <h2 class="swaptransaction-title">Swap Transactions</h2>
    </div>
    <a href="/swaptransactions/create" class="btn btn-secondary">
        <span class="oi oi-plus" style="margin-top: 5px;"></span>
    </a>
</div>

<div style="border-bottom:solid black 1px; padding-top:3px;">
    @*FOR SPACING*@
</div>

@if (SwapTransactions == null)
{
    <div class="alert alert-info">Loading Swap Transactions...</div>
}
else
{
    @*for JS datatable script*@
    <table class="table table-responsive" id="swapTable">
        <thead>
            <tr>
                <th>Transaction Date</th>
                <th>User 1</th>
                <th>Item 1</th>
                <th>User 2</th>
                <th>Item 2</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var swaptransaction in SwapTransactions)
            {
                <tr>
                    <td>@swaptransaction.TransactionDate</td>
                    <td>@swaptransaction.AppUser1.UserName</td>
                    <td>@swaptransaction.SwapItem1.ItemName</td>
                    <td>@swaptransaction.AppUser2.UserName</td>
                    <td>@swaptransaction.SwapItem2.ItemName</td>
                    <td>
                        <a href="/staffs/view/@swaptransaction.Id" class="btn btn-primary">
                            <span class="oi oi-book"></span>
                        </a>
                        <a href="/staffs/edit/@swaptransaction.Id" class="btn btn-warning">
                            <span class="oi oi-pencil"></span>
                        </a>
                        <button class="btn btn-danger" @onclick="@(()=>Delete(swaptransaction.Id))">
                            <span class="oi oi-delete"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    // Create a List based on Staff Table in Database
    private List<SwapTransaction>? SwapTransactions;

    protected async override Task OnInitializedAsync()
    {
        _interceptor.MonitorEvent();
        SwapTransactions = await _client.GetFromJsonAsync<List<SwapTransaction>>($"{Endpoints.SwapTransactionsEndpoint}");
    }

    // For JS datatable script
    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await js.InvokeVoidAsync("AddModifiedDataTable", "#swapTable");
    }

    async Task Delete(int swaptransactionsID)
    {
        if (SwapTransactions != null)
        {
            var swaptransaction = SwapTransactions.First(q => q.Id == swaptransactionsID);
            var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete transactiond dated {swaptransaction.TransactionDate}?");
            if (confirm)
            {
                Dispose();
                await _client.DeleteAsync($"{Endpoints.SwapTransactionsEndpoint}/{swaptransactionsID}");
                await OnInitializedAsync();
            }
        }
    }

    public void Dispose()
    {
        // For JS datatable script
        js.InvokeVoidAsync("DataTablesDispose", "#swapTable");
        //_interceptor.DisposeEvent();
    }
}
