@page "/reports/"
@inject HttpClient _client
@inject HttpInterceptorService _interceptor
@implements IDisposable
@inject IJSRuntime js
@attribute [Authorize]

<div class="report-topbar">
    <h2 class="report-title">Reports</h2>
    <a href="/reports/create" class="btn btn-secondary">
        <span class="oi oi-plus" style="margin-top: 5px;"></span>
    </a>
</div>

<div style="border-bottom:solid black 1px; padding-top:3px;">
    @*FOR SPACING*@
</div>

@if (Reports == null)
{
    <div class="alert alert-info">Loading Reports...</div>
}
else
{
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Report Title</th>
                <th>Reporter ID</th>
                <th>Report Date</th>
                <th>Report Content</th>
                <th>Sale Transaction ID</th>
                <th>Swap Transaction ID</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var report in Reports)
            {
                <tr>
                    <td>@report.ReportTitle</td>
                    <td>@report.User.Id</td>
                    <td>@report.ReportDate</td>
                    <td>@report.ReportContent</td>
                    <td>@report.SaleTransaction.Id</td>
                    <td>@report.SwapTransaction.Id</td>
                    <td>
                        <a href="/reports/view/@report.Id" class="btn btn-primary">
                            <span class="oi oi-book"></span>
                        </a>
                        <a href="/reports/edit/@report.Id" class="btn btn-warning">
                            <span class="oi oi-pencil"></span>
                        </a>
                        <button class="btn btn-danger" @onclick="@(()=>Delete(report.Id))">
                            <span class="oi oi-delete"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    // Create a List based on Staff Table in Database
    private List<Report>? Reports;

    protected async override Task OnInitializedAsync()
    {
        _interceptor.MonitorEvent();
        Reports = await _client.GetFromJsonAsync<List<Report>>($"{Endpoints.ReportsEndpoint}");
    }

    async Task Delete(int reportID)
    {
        if (Reports != null)
        {
            var report = Reports.First(q => q.Id == reportID);
            var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete report dated: {report.ReportDate}?");
            if (confirm)
            {
                await _client.DeleteAsync($"{Endpoints.ReportsEndpoint}/{reportID}");
                await OnInitializedAsync();
            }
        }
    }

    public void Dispose()
    {
        _interceptor.DisposeEvent();
    }
}
