@*ASPNetr-yanWorks*@
@inject HttpClient _client

<EditForm Model="@report" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <fieldset disabled="@Disabled">
        <div class="form-group">
            <label>Title of Report: </label>
            <div>
                <InputText @bind-Value="@report.ReportTitle" class="form-control" />
                <ValidationMessage For="@(() => report.ReportTitle)" />
            </div>
        </div>
        @*ADDED A TEXTAREA FOR LONG PARAGRAPHS - REPORT DESCRIPTION/CONTENT*@
        <div class="form-group">
            <label>Describe your Experience: </label>
            <div>
                @*<InputText @bind-Value="@report.ReportContent" class="form-control" />*@
                <textarea @bind="@report.ReportContent" class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
                <ValidationMessage For="@(() => report.ReportContent)" />
            </div>
        </div>
        @if (report.Id > 0)
        {
            <div class="form-group">
                <label>Date of Report: </label>
                <div>
                    <InputDate @bind-Value="@report.ReportDate" class="form-control" />
                    <ValidationMessage For="@(() => report.ReportDate)" />
                </div>
            </div>
        }
        <div class="form-group">
            <label>Reporter: </label>
            <div>
                <InputSelect @bind-Value="report.AppUserID" class="form-control">
                    <option value="">-- Select User --</option>
                    @if (AppUsers != null)
                    {
                        foreach (var appuser in AppUsers)
                        {
                            <option value="@appuser.Id">User: @appuser.Id</option>
                        }
                    }
                </InputSelect>
                <ValidationMessage For="@(() => report.AppUserID)" />
            </div>
        </div>
        <div class="form-group">
            <label>Staff-in-Charge: </label>
            <div>
                <InputSelect @bind-Value="report.StaffID" class="form-control">
                    <option value="">-- Select Staff in Charge --</option>
                    @if (Staffs != null)
                    {
                        foreach (var staff in Staffs)
                        {
                            <option value="@staff.Id">Staff: @staff.Id</option>
                        }
                    }
                </InputSelect>
                <ValidationMessage For="@(() => report.StaffID)" />
            </div>
        </div>
        <div class="form-group">
            <label>Swap Transaction: </label>
            <div>
                <InputSelect @bind-Value="report.SwapTransactionID" class="form-control">
                    <option value="">-- Select Swap Transaction --</option>
                    @if (SwapTransactions != null)
                    {
                        foreach (var swaptransaction in SwapTransactions)
                        {
                            <option value="@swaptransaction.Id">Swap Transaction: @swaptransaction.Id</option>
                        }
                    }
                </InputSelect>
                <ValidationMessage For="@(() => report.SwapTransactionID)" />
            </div>
        </div>
        <div class="form-group">
            <label>Sale Transaction: </label>
            <div>
                <InputSelect @bind-Value="report.SaleTransactionID" class="form-control">
                    <option value="">-- Select Sale Transaction --</option>
                    @if (SaleTransactions != null)
                    {
                        foreach (var saletransaction in SaleTransactions)
                        {
                            <option value="@saletransaction.Id">Sale Transaction: @saletransaction.Id</option>
                        }
                    }
                </InputSelect>
                <ValidationMessage For="@(() => report.SaleTransactionID)" />
            </div>
        </div>
    </fieldset>
    <br />

    @if (!Disabled)
    {
        <button type="submit" class="btn btn-success btn-block">
            @ButtonText
        </button>
    }
</EditForm>

@code {
    [Parameter] public bool Disabled { get; set; } = false;
    [Parameter] public Report ? report { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }

    private IList<AppUser>? AppUsers;
    private IList<Staff>? Staffs;
    private IList<SwapTransaction>? SwapTransactions;
    private IList<SaleTransaction>? SaleTransactions;

    protected async override Task OnInitializedAsync()
    {
        AppUsers = await _client.GetFromJsonAsync<List<AppUser>>($"{Endpoints.AppUsersEndpoint}");
        Staffs = await _client.GetFromJsonAsync<List<Staff>>($"{Endpoints.StaffsEndpoint}");
        SwapTransactions = await _client.GetFromJsonAsync<List<SwapTransaction>>($"{Endpoints.SwapTransactionsEndpoint}");
        SaleTransactions = await _client.GetFromJsonAsync<List<SaleTransaction>>($"{Endpoints.SaleTransactionsEndpoint}");
    }
}
