@*ASPNetr-yanWorks*@
@page "/reports/"
@implements IDisposable
@inject IJSRuntime js
@inject HttpClient _client
@inject NavigationManager _navManager
@inject HttpInterceptorService _interceptor
@attribute [Authorize(Roles = "Administrator")]

<!-- Page Title -->
<PageTitle>Reports</PageTitle>

<!-- Topbar with the title and a button to create a new report -->
<div class="report-topbar">
    <h2 class="report-title">Reports</h2>
    <a href="/reports/create" class="btn btn-secondary">
        <span class="oi oi-plus" style="margin-top: 5px;"></span>
    </a>
</div>

<div style="margin-top: 10px;">
    @if (Reports == null)
    {
        <!-- Displays a loading message if reports are still loading -->
        <div class="alert alert-info">Loading Reports...</div>
    }
    else
    {
        <!-- Displays each report in a box -->
        @foreach (var report in Reports)
        {
            <div class="report-box">
                <!-- Inner container for report details -->
                <div class="report-box-innercontainer">
                    <h4 class="report-box-title">@report.ReportTitle</h4>
                    <p class="report-box-content">@report.ReportContent</p>
                </div>
                <div class="report-box-inner">
                    <!-- Inner container for report details -->
                    <div class="report-box-innercontainer">
                        <div class="report-box-detail-container">
                            <div class="report-box-detail-innercontainer">
                                <p class="report-box-details-labels">Username:</p>
                                <p class="report-box-details-labels">Date of Report:</p>
                                <p class="report-box-details-labels">Staff-in-Charge:</p>
                                <p class="report-box-details-labels">Transaction:</p>
                            </div>
                            <div class="report-box-detail-innercontainer">
                                <p class="report-box-details">@report.AppUser.UserName</p>
                                <p class="report-box-details">@report.ReportDate.Day / @report.ReportDate.Month / @report.ReportDate.Year</p>
                                <p class="report-box-details">@report.Staff.StaffFirstName @report.Staff.StaffLastName ( @report.StaffID - @report.Staff.StaffDepartment )</p>
                                @if (report.SwapTransactionID != null)
                                {
                                    <a href="swaptransactions/view/@report.SwapTransactionID" style="text-decoration:none;">
                                        <p class="report-box-details" style="color: #00BDFF;">[Swap Transaction @report.SwapTransactionID]</p>
                                    </a>
                                }
                                else if (report.SaleTransactionID != null)
                                {
                                    <a href="swaptransactions/view/@report.SaleTransactionID" style="text-decoration:none;">
                                        <p class="report-box-details" style="color: #00BDFF;">[Sale Transaction @report.SaleTransactionID]</p>
                                    </a>
                                }
                                else
                                {
                                    <p class="report-box-details">Unknown Transaction</p>
                                }
                            </div>
                        </div>
                    </div>

                    <!-- Controls for each report box -->
                    <div class="report-box-control-container">
                        <div class="report-box-detail-button">
                            <a href="/reports/view/@report.Id" class="btn btn-primary">
                                More Details
                            </a>
                        </div>
                        <div class="report-box-control-bottom">
                            <a href="/reports/edit/@report.Id" class="btn btn-warning" style="width:100%; margin-right:5px;">
                                <span class="oi oi-pencil"></span>
                            </a>
                            <button class="btn btn-danger" style="width:100%; margin-left:5px;" @onclick="@(()=>Delete(report.Id))">
                                <span class="oi oi-delete"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>

@code {
    // List to store reports fetched from the server
    private List<Report>? Reports;

    // This runs asynchronously when the component/page is initialized
    protected async override Task OnInitializedAsync()
    {
        // Initialises the interceptor module
        // This monitors HTTP Events for Global Error Handling
        _interceptor.MonitorEvent();

        // This fetches data from Server Endpoints using HttpClient
        Reports = await _client.GetFromJsonAsync<List<Report>>($"{Endpoints.ReportsEndpoint}");
    }

    // Method to handle report deletion with confirmation dialog
    async Task Delete(int reportID)
    {
        if (Reports != null)
        {
            var report = Reports.First(q => q.Id == reportID);
            var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete Report {report.Id}, Dated: {report.ReportDate}?");
            if (confirm)
            {
                // Deletes the report and refreshes the list
                await _client.DeleteAsync($"{Endpoints.ReportsEndpoint}/{reportID}");
                await OnInitializedAsync();
            }
        }
    }

    // Disposes of resources when the component is disposed
    public void Dispose()
    {
        // This disposes of global error handling events
        _interceptor.DisposeEvent();
    }
}
